<a href="https://colab.research.google.com/github/Aditi16-ctrl/Learning-Python/blob/main/BAsics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+9

11

In [ ]:
print("Hello")

Hello

In [ ]:
name= input("What is yourname")

What is yournameAditi

In [ ]:
print("HAve a nice day", name)

HAve a nice day Aditi

In [ ]:
exit()

In [ ]:
myint=11
myfloat=12.2
mystr="I am"
mybool=True

In [ ]:
print(myint)

0

In [ ]:
print(myint+myfloat)

12.2

In [ ]:
print(myint%2)

1

In [ ]:
print("nom"*3)

nomnomnom

In [ ]:
print(myint==0)

False

In [ ]:
#datatypes

In [ ]:
#sequesnces
#list and tuples
#list[]
mylist=[1,"a",2.2]
print(len(mylist))

3

In [ ]:
print(mylist)

[1, 'a', 2.2]

In [ ]:
print(mylist[2])
print(mylist[-1])
mylist[0]=4

2.2
2.2

In [ ]:
print(mylist)

[4, 'a', 2.2]

In [ ]:
mylist2=[3,"er",4]

In [ ]:
print(mylist[::2])

[4, 2.2]

In [ ]:
print(mylist[::-1])

[2.2, 'a', 4]

In [ ]:
mytuple=(0,1,"aaa") #immutable

In [ ]:
print(mytuple)

(0, 1, 'aaa')

In [ ]:
myset= {1,2,"a"}

In [ ]:
print(myset)
#set and tuple donot use index

{1, 2, 'a'}

In [ ]:
print(1 in mylist)
print(3 in myset)

False
False

In [ ]:
#dictionary datatype
mydict={
    "one": 1,
    "two":2,
    3:"three",
    4.5:"four"

}
print(mydict)

{'one': 1, 'two': 2, 3: 'three', 4.5: 'four'}

In [ ]:
print(mydict["one"])

1

In [ ]:
print(mydict[3
])

three

In [ ]:
mydict["seven"]=7
print(mydict)

{'one': 1, 'two': 2, 3: 'three', 4.5: 'four', 'seven': 7}

In [ ]:
print(mydict["two"])

2

In [ ]:
print("two "in mydict)

False

In [ ]:
print(mydict.keys())
print(mydict.values())

dict_keys(['one', 'two', 3, 4.5, 'seven'])
dict_values([1, 2, 'three', 'four', 7])

In [ ]:
for key, val in mydict.items():
  print(key,val)

one 1
two 2
3 three
4.5 four
seven 7

In [ ]:
#conditional
x,y=100,100
if x<y:
  print("x is less than y")
elif x==y:
  print("same")
else:
  print("greater")

same

In [ ]:
x=0
while x<5:
  print(x)
  x=x+1

0
1
2
3
4

In [ ]:
answer =input("Stop")
while answer !="yes":
  answer =input("Stop")
#

Stopstop
Stopno
Stopyes

In [ ]:
days=["mon","Tue","WEd","Thurs","Fri","sat","sun"]
for d in days:
  print(d)

mon
Tue
WEd
Thurs
Fri
sat
sun

In [ ]:
for d in days:
  if(d=="WEd"):
    break
  print(d)

mon
Tue

In [ ]:
for d in days:
  if(d=="Fri"):
    continue
  print(d)

mon
Tue
WEd
Thurs
sat
sun

In [ ]:
for i, d in enumerate(days):
  print(i,d)
  #enumerate prints along with the index

0 mon
1 Tue
2 WEd
3 Thurs
4 Fri
5 sat
6 sun

In [ ]:
#definig function
def hello_fun():
  print("Hello")
  name= input("What is your name ")
  print("Have a nice day",name)
hello_fun()

Hello
What is your name Aditi
Have a nice day Aditi

In [ ]:
#definig function
def hello_fun(greeting):
  print("Hello")
  name= input("What is your name ")
  print(greeting,name)
hello_fun("Have a nice day")
hello_fun("How you doing")

Hello
What is your name Aditi
Have a nice day Aditi
Hello
What is your name Aditi
How you doing Aditi

In [ ]:
#fucntion returns a value
def cube(x):
  return x*x*x
result=cube(3)
print(result)

27

In [ ]:
#default parameter
#definig function
def hello_fun(greeting, name=None):
  print("Hello")
  if name==None:
    name= input("What is your name ")
  print(greeting,name)
hello_fun("Have a nice  day", "Joe")

Hello
Have a nice  day Joe

In [ ]:
def multi_add(*args):
  result = 0
  for x in args:
    result=result+x
  return result
print(multi_add(5,4,3))

12

In [ ]:
#code challenge bumber counter
# Python code​​​​​​‌‌‌​‌​‌​​‌‌​‌‌​‌‌‌‌‌​​‌‌​ below
# Use print("messages...") to debug your solution.

show_expected_result = True
show_hints = True

def count_numbers(which, numbers):
    if which == "even":
        return sum(1 for num in numbers if num % 2 == 0)

    elif which == "odd":
        return sum(1 for num in numbers if num % 2 != 0)

    # Any other input re
    return -1

In [ ]:
mystring="Brown lazy fox"
mynumbers=[1,2,3,4]
print(len(mystrinf))
print(max(mynumbers))

14
4

In [ ]:
print(min(mynumbers))

1

In [ ]:
prefix="ab"
result=8
print(prefix+str(3.4))

ab3.4

In [ ]:
#range(start, stop, step)
for i in range(5,14,2):
  print(i)

5
7
9
11
13

In [ ]:
for i in range(5, len(mystring),2):
  print(mystring[i])

a
y
f
x

In [ ]:
def find_largest(strings):
    if not strings:
        return 0  # or None depending on assignment rules

    longest_length = 0

    for s in strings:
        if len(s) > longest_length:
            longest_length = len(s)

    return longest_length

In [2]:
class Vehicle:
  def __init__ (self,bodystyle):
    self.bodystyle=bodystyle
class Car(Vehicle):
  def __init__ (self, enginestyle):
    super().__init__("Car")
    self.wheels=4
    self.doors=4
    self.engine =enginestyle # Corrected: used enginestyle
class MOtor(Vehicle):
  def __init__(self, enginestyle, hassidecar): # Corrected: __intit__ to __init__ and added hassidecar parameter
    super().__init__("MOtor")
    if(hassidecar):
      self.wheels=3
    else:
      self.wheels=2
    self.doors=0
    self.enginetype =enginestyle # Corrected: used enginestyle
car1=Car("gas")
car2=Car("ele")
mc1=MOtor("gas", True)
print(mc1.wheels)
print(car1.engine)
print(car2.doors)

3
gas
4

In [ ]:
#importing using modules